<div class="container">
    <table>
        <tr>
          <th>Product</th>
          <th>In Stock</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let product of data">
          <td>{{product.product}}</td>
          <td>{{product.quantity}}</td>
          <td><button class="btn btn-success" (click)="addProduct(product._id,product.quantity)">Add One</button><button class="btn btn-danger" (click)="deleteProduct(product._id)">Delete</button></td>
        </tr>
    </table>
</div>
<div class="text-center mybutton">
    <button class="btn btn-info btn-lg" [routerLink]="['/buy_product']">Go to Buy Page</button>
    <button class="btn btn-info btn-lg" [routerLink]="['/add_product']">Go to Add Product Page</button>
</div>